<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.note11.engabi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".EngabiApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Engabi">
        <service
            android:name=".foreground.RecordService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".util.AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Engabi.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Engabi.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Engabi.NoActionBar" />
        <activity
            android:name=".ui.register.Register1Activity"
            android:exported="true"
            android:theme="@style/Theme.Engabi.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.Register2Activity"
            android:exported="true"
            android:theme="@style/Theme.Engabi.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.Register3Activity"
            android:exported="true"
            android:theme="@style/Theme.Engabi.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao5495cbd8be1677e13b1960ba6a714e75" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.video.VideoActivity"
            android:exported="false"
            android:theme="@style/Theme.Engabi.NoActionBar" />

    </application>

</manifest>